/* Custom CSS file */
.bg-gradient {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

@import url('`https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



.animate-expand:hover {
  animation: expand .25s ease-in-out forwards;
}

@keyframes expand {
  from {
    width: 13rem;
  }

  to {
    width: 24rem;
  }
}